
/* font for logo */
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
/* style that over rides everything */

body {
    margin: 0;
    background-color: #05050E;

}

header {
    background-image: url("img/crack-in-time.jpg");
    height: 500px;
    background-position: center;
    background-size: cover;
    position: relative;
}

.logo {
    padding: 0;
    margin-left: 1em;
    color: antiquewhite;
    display: inline-block;
    cursor: pointer;
    align-self: center;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    font-family: 'Julius Sans One', sans-serif;
    background-color: rgba(12, 23, 41, 0);
}

.nav-list {
    display: flex;
    list-style-type: none;

}




.nav-items {
    display: inline-block;
    padding: 20px;
    color: antiquewhite;
    text-decoration: none;
    transition: all 0.4s ease;

}

.nav-list a:hover {
    background-color: rgba(87, 47, 94, .4);

}

.container {
    flex-direction: row;
    background: antiquewhite;
}